name: Continuous Integratio and Deployment

on:
  push:
    branches:
      - "main"

env:
  CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
  CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
      - name: Use pnpm 10.22.0
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Lint
        run: pnpm lint
      - name: Build
        run: pnpm build
  #    - name: Test
  #      run: pnpm test

  deploy-staging:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: staging
    permissions:
      contents: read

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
      - name: Use pnpm 10.22.0
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Deploy
        run: pnpm deploy:staging

  deploy-production:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: production
    permissions:
      contents: read

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v4
      - name: Use pnpm 10.22.0
        uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Deploy
        run: pnpm deploy:production
